body {
  margin: 2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  height: 100%;
  /* background-image: url("./img/banner-1571858.jpg");*/
  flex-wrap: wrap;
}
p {
  text-align: center;
}
.navbar {
  width: 100%;
  height: 50px;
}

h1 {
  text-align: center;
  padding: 1rem 0;
}

div,
section,
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

img {
  max-width: 300px;
  margin: 20px;
}

a {
  color: black;
}

a:hover {
  color: #0130ff;
}

.contenedor_icon {
  flex-direction: row;
  align-items: center;
}

.contenedor_icon:hover {
  cursor: pointer;
}

.conteneder_parrafos {
  height: 0;
  overflow: hidden;
}

.mostrar_parrafos {
  height: 100%;
}



footer {
  display: flex;
  display:inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  flex-wrap: wrap;
}

#contenedorP {
  width: 1000px;
  background-color: white;
 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#listaLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  flex-wrap: wrap;
}
#tarjeta2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  flex-wrap: wrap;
}
.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}
.cuerpo {
  padding: 10px;
}
.pie {
  background: #6699ff;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.pie a {
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border: 10px solid #2b1d85;
}
.integrantes{
    display: flex;
    display: inline-block;
    flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

