* {
  font-family: "Merriweather", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: var(0.75rem);
  padding-left: var(0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 400px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
}